.game-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 3em;

  @media screen and (max-width: $phone) {
    flex-direction: column;
  }
}

.amongus {
  height: 100vh;
  width: 100vw;
  background: $color1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}