.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;

  &__item {
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    background: none;
    padding: 10px;
    border-radius: 10px;
  }
}