$item-size: 4em;
$gap: 0.3em;
$gap-disabled: 0.1em;
$item-gap: $item-size - 1;
$item-gap-active: $item-gap + $gap;

$dropdown-width: 100px;

$color1: #F7EDE2;
$color2: #A5D8FF;
$color3: #84A59D;
$color4: #F6BD60;
$color5: #F28482;
$textColor: white;

$phone: 700px
